@font-face {
    font-family: Inter-Light;
    src: url("/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter-Medium;
    src: url("/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url("/fonts/Montserrat-ExtraLight.ttf");
}

.color_1{
    color: white;
}

.color_2{
    color: rgb(142, 90, 166);
}

.bg_1{
    background-color: white;
}

.bg_2{
    background-color: rgb(142, 90, 166);
}

.text{
    font-family: Inter-Light;
}

.light_text{
    font-family: Montserrat-ExtraLight;
}

.title{
    font-family: Inter-Bold;
}

.montserrat_light{
    font-family: Montserrat-Light;
}

.montserrat_bold{
    font-family: Montserrat-Bold;
}

.montserrat_extraLight{
    font-family: Montserrat-ExtraLight;
}

.index_image{
    background-size: cover;
    height: 250px;
    background-position: center;
}

.col_index_image{
    background-size: cover;
    height: 400px;
    background-position: center;
}

.all_height_image{
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.header{
    background-color: rgb(255, 255, 255);
}

.admin_header{
    background-color: rgb(33, 37, 41);
}

.footer{
    background-color: rgb(34, 34, 34);
}

.content{
    background-color: rgb(231, 231, 231);
    min-height: 100vh;
}

.content_block{
    background-color: rgb(255, 255, 255);
}

.home_user_image{
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

.admin_header_text{
    color: white;
    font-family: Montserrat-Light;
}

/* Отзывы */
.review_card{
    background-color: white;
    padding: 10px;
    position: relative;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review_card img{
    position: absolute;
    text-align: center;
    top: -75px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

/* Кнопки */
.custom_button{
    font-family: Montserrat-Bold;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: rgb(142, 90, 166);
    border: none;
    border-radius: 50px;
    font-size: 20px;
    max-width: fit-content;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}
.custom_button:hover{
    background-color: white;
    color: rgb(142, 90, 166);
}
.white_custom_button{
    font-family: Montserrat-Bold;
    color: rgb(142, 90, 166);
    padding: 15px 30px 15px 30px;
    background-color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    max-width: fit-content;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}
.white_custom_button:hover{
    background-color: rgb(142, 90, 166);
    color: white;
}

/* Форма заказа */
.order_block{
    background-color: rgb(22, 39, 72);
}
.order_form{
    background-color: rgb(216, 80, 74);
    border-radius: 10px;
}
.order_form button{
    border-radius: 20px;
    color: rgb(22, 18, 18);
    background-color: rgb(244, 207, 98);
    border: none;
}
.order_checkbox{
    font-size: 10px;
}
.order_ul{
    font-size: 10px;
    margin-right: 0px;
}
.dark_block{
    background-color: rgb(18, 31, 57);
    width: fit-content;
}
.color_usl{
    color: rgb(224, 232, 250);
}
.color_desc{
    color: rgb(156, 165, 189);
}

@media (max-width: 767.98px){ 
    /* Отступ между отзывами при маленьком разрешении */
    .review_margin{
        margin-bottom: 70px;
    }
    .about_price .row{
        flex-direction: column-reverse;
    }
}

@media (max-width: 575.98px) {
    /* Изменение размеров кнопок */
    .custom_button{
        font-size: 10px;
    }
    .white_custom_button{
        font-size: 10px;
    }
    /* Изменение размера шрифтов */
    h5{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
}

@media (max-width: 280px) {
    /* Изменение размеров кнопок */
    .custom_button{
        font-size: 10px;
    }
    .white_custom_button{
        font-size: 10px;
    }
    h5{
        font-size: 15px;
    }
}